@import './globalVariables.scss';
.content_container {
    padding: $smallSpace;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    gap: $standardSpace;
    @include breakpoint(mobile) {
        gap: $standardSpace * 2;
    }
}

.content_element {
    padding: 0.5rem;
    border-radius: 5px;
    width: 4.5rem;
    cursor: pointer;
    text-align: center;
}

.content_element:hover {
    background-color: rgb(50, 50, 50);
    color: white;
}

.content_icon {
    width: 3rem;
    margin-bottom: 1rem;
    @include breakpoint(mobile) {
        width: 3rem * 1.6;
        margin-bottom: 1rem;
    }
}

.content_text {
    font-size: $content_text_size;
    text-align: center;
    text-overflow: inherit;
    @include breakpoint(mobile) {
        font-size: $content_text_size * 1.2;
    }
}